
*.50
*.zip
Parser-v2/
Parser-v3/
self-attentive-parser/
*.comput1
*.index
*.eval0
*.meta
*.data-00000-of-00001
parser/results/dependency_parsing/checkpoint/checkpoint
parser/results/dependency_parsing/checkpoint/best/checkpoint
cs224n-assignment/
bist-parser/
*.100
*.300
*.300
